#wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    --GAP:0.3vmin;
    --C_WIDTH:100%;
    width: var(--C_WIDTH);
    height: 200px;
    display: flex;
    align-items: flex-end;
    gap: var(--GAP);
    position: relative;
}
#bar{
    --width:calc((var(--C_WIDTH) - (var(--GAP) * (var(--length) - 1))) / var(--length));
    width: var(--width);
    background: hsl(201, 100%, 60%);
    position: absolute;
    left: calc((var(--index) * var(--width )) + (var(--index) * var(--GAP)));
    transition: 100ms;
    text-align: center;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 800;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0 auto;
    width: 100px;
}