#wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
}
#container{
    --GAP:0;
    --C_WIDTH:100%;
    width: var(--C_WIDTH);
    height: 50%;
    position: relative;
}
#bar{
    box-sizing: border-box;
    --BAR_COLOR:hsl(168, 100%, 50%);
    --WIDTH:calc((var(--C_WIDTH) - (var(--GAP) * (var(--LENGTH) - 1))) / var(--LENGTH));
    width: var(--WIDTH);
    background: var(--BAR_COLOR);
    position: absolute;
    bottom:0%;
    left: calc((var(--INDEX) * var(--WIDTH )) + (var(--INDEX) * var(--GAP)));
    text-align: center;
    z-index: 1;
    transition: all var(--ANIMATION_TIME) ease-in-out ,background;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-top: 10px;
}
.marker{
    background: rgb(255, 255, 255) !important; 
}
.active{
    /* bottom: 100px !important; */
    background: rgb(43, 255, 0) !important; 
}
.pivot{
    background: #ff0101 !important;
}
/* button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: 0 auto;
    width: 100px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background: hsl(0, 0%, 39%);
    box-shadow: 0 0 50px 50px #222;
    color: white;
    cursor: pointer;
    z-index: 300;
} */